train/
test/
edge_aistpp/
dataset_backups/
runs/
wandb/
renders/
.ipynb_checkpoints/
__pycache__/
*.gif
*.mp4
*.pkl
*.pt
*.npy
*.zip
cached_features/
custom_music/


# FBX SDK
include/
third_party/

# temporary
*.swp
wget-log

# FBX outputs
fbx_out/

# SDK examples
samples/